@import '~node_modules/modern-normalize/modern-normalize.css';

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2c2c2c;

  @include tablet {
    font-size: 42px;
    line-height: 1.17;
  }
}
