@import '~node_modules/modern-normalize/modern-normalize.css';
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

:root {
  --primary-text-color: #2c2c2c;
  --primary-bg-color: #fefefe;
  --accent: #bbf330;
  --scd--accent: #7eb101;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  display: block;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32 px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

:root {
  --offering-ellipse: rgba(255, 255, 255, 0.5);
  --offering-link: #000000;
  --offering-gradient-start: rgba(47, 88, 63, 1);
  --offering-gradient-end: rgba(105, 105, 105, 0);
}

.offering {
  padding: 70px 20px 60px;
  background-image: url(../images/background-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .offering {
    gap: 40px;
    padding: 187px 116px 100px 32px;
    background-image: url(../images//background-tablet.png);
  }
}
@media screen and (min-width: 1280px) {
  .offering {
    display: flex;
    gap: 90px;
    padding: 231px 51px 43px 16px;
    background-image: url(../images/background.png);
  }
}

.offering__title {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering__title {
    width: 526px;
    margin-bottom: 20px;
  }
}

.offering__description {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering__description {
    width: 500px;
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .offering__description {
    width: 560px;
    line-height: 1.5;
  }
}

.offering__wrap-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 280px;
  height: 280px;
  border: 3px solid var(--offering-ellipse);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .offering__wrap-ellipse {
    width: 357px;
    height: 357px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .offering__wrap-ellipse {
    flex-shrink: 0;
    width: 550px;
    height: 550px;
    margin-bottom: 0px;
  }
}

.offering__wrap-img {
  position: relative;
  width: 256px;
  height: 256px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .offering__wrap-img {
    width: 326px;
    height: 326px;
  }
}
@media screen and (min-width: 1280px) {
  .offering__wrap-img {
    width: 502px;
    height: 502px;
  }
}
.offering__wrap-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 26px;
  left: 67px;
  width: 128px;
  height: 44px;
  background-image: radial-gradient(50% 50% at 50% 50%, var(--offering-gradient-start) 0%, var(--offering-gradient-end) 100%);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .offering__wrap-img::after {
    bottom: 33px;
    left: 85px;
    width: 164px;
    height: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .offering__wrap-img::after {
    bottom: 51px;
    left: 131px;
    width: 252px;
    height: 87px;
  }
}

.offering__lift-img {
  position: absolute;
  bottom: 41px;
  left: 30px;
  width: 202px;
  height: 256px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .offering__lift-img {
    display: flex;
    bottom: 53px;
    left: 38px;
    width: 257px;
    height: 326px;
  }
  .offering__lift-img::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 332px;
    width: 166px;
    height: 211px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    background-image: url(../images/aple-tablet-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .offering__lift-img::before {
    background-image: url(../images/aple-tablet-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .offering__lift-img::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 542px;
    width: 108px;
    height: 136px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    background-image: url(../images/aple-tablet-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .offering__lift-img::after {
    background-image: url(../images/aple-tablet-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .offering__lift-img {
    bottom: 78px;
    left: 60px;
    width: 396px;
    height: 502px;
  }
  .offering__lift-img::before {
    display: none;
  }
  .offering__lift-img::after {
    display: none;
  }
}

.offering__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering__list {
    flex-direction: row;
    gap: 116px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .offering__list {
    gap: 67px;
    margin-bottom: 32px;
  }
}

.offering__item::before {
  content: "";
  display: block;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background-color: var(--primary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.offering__item:first-child::before {
  background-image: url(../images/rocket.svg);
}
.offering__item:last-child::before {
  background-image: url(../images/touch.svg);
}

.offering__label {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
}

.offering__text {
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .offering__text {
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .offering__text {
    line-height: 1.5;
  }
}

.offering__wrap-button {
  display: flex;
  align-items: center;
  gap: 24px;
}

.offering__button {
  width: 106px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border: 2px solid var(--scd--accent);
  border-radius: 30px;
}
.offering__button:hover, .offering__button:focus {
  background-color: var(--accent);
  border-color: var(--accent);
}

.offering__link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
  color: var(--offering-link);
}
.offering__link::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-image: url(../images/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  fill: currentColor;
}
.offering__link:hover::after {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1280px) {
  .offering__link {
    display: none;
  }
}

.favorites {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .favorites {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-title {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .section-title {
    margin-bottom: 78px;
  }
}

.favorites-subtitle {
  margin-bottom: 60px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .favorites-subtitle {
    font-size: 16px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-subtitle {
    display: none;
  }
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.favorites-list__item {
  display: none;
  max-width: 280px;
  padding: 18.12px 17.35px;
  border: 11px solid #ffe550;
  border-radius: 139.658px;
  cursor: pointer;
}
.favorites-list__item:nth-child(-n+3) {
  display: block;
}
@media screen and (min-width: 768px) {
  .favorites-list__item {
    display: block;
    flex-basis: calc((100% - 32px) / 2);
    max-width: 336px;
    padding: 20.91px 20.03px;
    border-radius: 167.166px;
    border: 14px solid #ffe550;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-list__item {
    flex-basis: calc((100% - 64px) / 3);
    max-width: 395px;
    padding: 25px 24px;
    border-radius: 197px;
    border: 16px solid #ffe550;
  }
}
.favorites-list__item:hover, .favorites-list__item:focus {
  border-color: #bbf330;
}

.favorites-lis__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----Reviews----- */
.section {
  padding-left: 16px;
}

.reviews {
  height: 647px;
  width: 1280px;
  margin: 0 auto;
  background-image: url(../images/scnd-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reviews__title {
  padding-top: 100px;
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.reviews__subtext {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.reviews-cards {
  display: flex;
  margin-top: 32px;
  gap: 139px;
}

.reviews-cards__item {
  padding-left: 14px;
  height: 227px;
  width: 501px;
  background-color: var(--primary-bg-color);
  border-radius: 25px;
  border-top-left-radius: 0;
}

.grade {
  display: flex;
  padding-top: 14px;
  gap: 4px;
}

.grade__item {
  width: 17px;
  height: 16px;
}

.reviews-cards__text {
  padding-top: 28px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.customer {
  display: inline-flex;
  position: relative;
  margin-top: 44px;
}

.customer::after {
  position: absolute;
  content: "";
  right: -14px;
  height: 100%;
  width: 1px;
  background-color: var(--scd--accent);
}

.customer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.customer__name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.customer__subtext {
  margin-top: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}/*# sourceMappingURL=index.css.map */