<section class="favorites">
  <div class="container">
    <h2 class="section-title">Some of Our favorites</h2>
    <p class="favorites-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/gamburger-desk-1x.png 1x,
                ./images/gamburger-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gamburger-tablet-1x.png 1x,
                ./images/gamburger-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gamburger-mobi-1x.png 1x,
                ./images/gamburger-mobi-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/gamburger-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/pasta-desk-1x.png 1x,
                ./images/pasta-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/pasta-tablet-1x.png 1x,
                ./images/pasta-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/pasta-mobi-1x.png 1x,
                ./images/pasta-mobi-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/pasta-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/pizza-desk-1x.png 1x,
                ./images/pizza-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/pizza-tablet-1x.png 1x,
                ./images/pizza-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/pizza-mobi-1x.png 1x,
                ./images/pizza-mobi-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img src="./images/pizza-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/chicken-desk-1x.png 1x,
                ./images/chicken-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/chicken-tablet-1x.png 1x,
                ./images/chicken-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="./images/ 1x, ./images/ 2x"
                  media="(min-width: 320px)"
                /> -->
            <img src="./images/chicken-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/salat-desk-1x.png 1x,
                ./images/salat-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/salat-tablet-1x.png 1x,
                ./images/salat-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
              srcset="./images/ 1x, ./images/ 2x"
              media="(min-width: 320px)"
            /> -->
            <img src="./images/salat-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
      <li class="favorites-list__item">
        <a class="favorites-lis__link">
          <picture>
            <source
              srcset="
                ./images/borshch-desk-1x.png 1x,
                ./images/borshch-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/borshch-tablet-1x.png 1x,
                ./images/borshch-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- <source
              srcset="./images/ 1x, ./images/ 2x"
              media="(min-width: 320px)"
            /> -->
            <img src="./images/borshch-desk-1x.png" alt="" width="315" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
