<header class="header container">
  <a href="" class="logo heder__logo">
    <!-- <img src="../images/Logo.png" alt="LOGO"> -->
    <svg width="66" height="52">
      <use href="./images/iconHeader.svg#logoMob"></use>
    </svg>
  </a>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a href="" class="header__link">Home</a></li>
      <li class="header__item"><a href="" class="header__link">About</a></li>
      <li class="header__item"><a href="" class="header__link">Service</a></li>
      <li class="header__item"><a href="" class="header__link">Menu</a></li>
      <li class="header__item"><a href="" class="header__link">Contact</a></li>
    </ul>
    <button type="button" class="header__order-button">Order Now</button>
  </nav>
  <button type="button" class="header__menu-button">
    <svg width="28" height="28">
      <use href="./images/iconHeader.svg#gg_menu"></use>
    </svg>
  </button>
</header>
