<div class="modal-window-backdrop is-hidden">
    <div class="modal-window">
        <button class="modal-window__close-button">
            <svg class="modal-window__close-icon">
                <use href="./images/symbol-defs.svg#close-icon"></use>
            </svg>
        </button>
        <p class="modal-window__title">Order Form</p>
        <form class="modal-window__form">
            <div class="modal-window__item">
                <label class="modal-window__label" for="name">Name</label>
                <input class="modal-window__input" id="name" name="name" type="text" placeholder="Your name">
            </div>
            <div class="modal-window__item">
                <label class="modal-window__label" for="phone">Phone number</label>
                <input class="modal-window__input" id="phone" name="phone" type="tel" placeholder="+38(0__)___ __ __">
            </div>
            <div class="modal-window__item">
                <label class="modal-window__label" for="email">E-mail</label>
                <input class="modal-window__input" id="email" name="email" type="email" placeholder="example@gmail.com">
            </div>
            <button class="modal-window__button">Send</button>
        </form>
    </div>
</div>