<section class="section offering">
  <div class="container">
    <img src="../images/aple.jpg" alt="Big green apple" class="offering-img" />
    <h2 class="offering-title">What’s Special About Our Offerings</h2>
    <p class="offering-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offering-list">
      <li class="offering-item">
        <svg class="offering-icon">
          <use></use>
        </svg>
        <h3 class="offering-label">Fastest Delivery</h3>
        <p class="offering-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offering-item">
        <svg class="offering-icon">
          <use></use>
        </svg>
        <h3 class="offering-label">Easy To Order</h3>
        <p class="offering-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button type="button" class="button offering-button">Order Now</button>
    <a href="#" class="offering-link">Read More &#62;</a>
  </div>
</section>
