<section class="section">
  <div class="container offering">
    <div class="offering__wrap-ellipse">
      <div class="offering__wrap-img">
        <div class="offering__lift-img">
          <img
            srcset="
              ./images/aple-mobile.png  202w,
              ./images/aple-tablet.png  258w,
              ./images/aple-desktop.png 396w
            "
            sizes="(min-width: 320px) 202px, (min-width: 768px) 258px, (min-width: 1280px) 396px"
            src="./images/aple-desktop.png"
            alt="Big green apple"
            class="offering__img"
          />
        </div>
      </div>
    </div>
    <h2 class="offering__title">What’s Special About Our Offerings</h2>
    <p class="offering__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offering__list">
      <li class="offering__item">
        <div class="offering__wrap-icon">
          <svg class="offering__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#rocket"></use>
          </svg>
        </div>

        <h3 class="offering__label">Fastest Delivery</h3>
        <p class="offering__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offering__item">
        <div class="offering__wrap-icon">
          <svg class="offering__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#touch"></use>
          </svg>
        </div>
        <h3 class="offering__label">Easy To Order</h3>
        <p class="offering__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <div class="offering__wrap-button">
      <button type="button" class="button offering__button">Order Now</button>
      <a href="#" class="offering__link">Read More</a>
    </div>
  </div>
</section>
