.reviews {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 769px;
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/reviews.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  @include retina {
    .reviews {
      background-image: url(../images/reviews-2x.png);
    }
  }

  @include mobile {
    max-width: 480px;
    background-image: url(../images/reviews-480.png);
    background-size: contain;

    @include retina {
      .reviews {
        background-image: url(../images/reviews-480-2x.png);
      }
    }
  }

  @include tablet {
    padding-bottom: 120px;
    max-width: 768px;
    background-image: url(../images/reviews-768.png);

    @include retina {
      .reviews {
        background-image: url(../images/reviews-768-2x.png);
      }
    }
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 16px;

    background-image: url(../images/reviews-1280.png);
    max-width: 1280px;

    @include retina {
      .reviews {
        background-image: url(../images/reviews-1280-2x.png);
      }
    }
  }
}

.reviews__title {
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 700;
  line-height: calc(33 / 28);
  letter-spacing: 0em;

  @include tablet {
    line-height: calc(49 / 42);
  }

  @include desktop {
    // padding-top: 100px;
    font-size: 42px;
  }
}

.reviews__subtext {
  margin-bottom: 32px;

  font-size: 14px;
  font-weight: 400;
  line-height: calc(16 / 14);
  letter-spacing: 0em;

  @include desktop {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.reviews-cards {
  @include tablet {
    display: flex;
    gap: 32px;
  }

  @include desktop {
    gap: 139px;
  }
}

.reviews-cards__item {
  outline: solid 1px black;
  padding-left: 8px;

  height: 247px;
  // width: 280px;
  background-color: var(--primary-bg-color);
  border-radius: 25px;
  border-top-left-radius: 0;

  &:first-child {
    margin-bottom: 24px;

    @include desktop {
      margin: 0;
    }
  }

  @include tablet {
    height: 244px;
    width: 336px;
  }

  @include desktop {
    padding-left: 14px;

    height: 227px;
    width: 501px;
  }
}

.grade {
  display: flex;
  padding-top: 8px;
  margin-bottom: 28px;

  gap: 4px;
}
.grade__item {
  width: 17px;
  height: 16px;
}
.grade__icon {
}
.reviews-cards__text {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(19 / 16);

  @include desktop {
    font-size: 18px;
    line-height: calc(21 / 18);
  }
}

.customer {
  display: inline-flex;
  position: relative;

  margin-top: 44px;
}
.customer::after {
  position: absolute;
  content: '';
  right: -14px;

  height: 100%;
  width: 1px;

  background-color: var(--scd--accent);
}

.customer__photo {
}
.customer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.customer__name {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(21 / 14);
  letter-spacing: 0em;
}
.customer__subtext {
  margin-top: 2px;

  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);
  letter-spacing: 0em;
}
