/* -----Reviews----- */

.section {
  padding-left: 16px;
}
.reviews {
  height: 647px;
  width: 1280px;

  margin: 0 auto;

  background-image: url(../images/scnd-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.reviews__title {
  padding-top: 100px;

  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}
.reviews__subtext {
  margin-top: 20px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.reviews-cards {
  display: flex;

  margin-top: 32px;

  gap: 139px;
}
.list {
}
.reviews-cards__item {
  padding-left: 14px;

  height: 227px;
  width: 501px;
  background-color: var(--primary-bg-color);

  border-radius: 25px;
  border-top-left-radius: 0;
}
.grade {
  display: flex;

  padding-top: 14px;

  gap: 4px;
}
.grade__item {
  width: 17px;
  height: 16px;
}
.grade__icon {
}
.reviews-cards__text {
  padding-top: 28px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.customer {
  display: inline-flex;
  position: relative;

  margin-top: 44px;
}
.customer::after {
  position: absolute;
  content: '';
  right: -14px;

  height: 100%;
  width: 1px;

  background-color: var(--scd--accent);
}
.customer__photo {
}
.customer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.customer__name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.customer__subtext {
  margin-top: 2px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
